#!/bin/sh
#
# Init script for WSO2 API manager
#
#
#### runlevel start prio stop prio
# chkconfig: 345 20 80
# description: WSO2 API manager service
#
export JAVA_HOME="/usr/java/default" # this only works with masterimg

startcmd='/opt/apim/wso2am/bin/wso2server.sh start > /dev/null &'
restartcmd='/opt/apim/wso2am/bin/wso2server.sh restart > /dev/null &'
stopcmd='/opt/apim/wso2am/bin/wso2server.sh stop > /dev/null &'
 
case "$1" in
start)
   echo "Starting the WSO2 Server ..."
   su -c "${startcmd}" {{ gateway_user }}
;;
restart)
   echo "Re-starting the WSO2 Server ..."
   su -c "${restartcmd}" {{ gateway_user }}
;;
stop)
   echo "Stopping the WSO2 Server ..."
   su -c "${stopcmd}" {{ gateway_user }}
;;
*)
   echo "Usage: $0 {start|stop|restart}"
exit 1
esac
