<datasources-configuration xmlns:svns="http://org.wso2.securevault/configuration">

    <providers>
        <provider>org.wso2.carbon.ndatasource.rdbms.RDBMSDataSourceReader</provider>
    </providers>

    <datasources>
{% for dskey, dsvalue in datasources.items() %}
        <datasource>
            <name>{{ dsvalue.resname }}</name>
            <description>see ansible playbook</description>
            <jndiConfig>
                <name>{{ dsvalue.jndi }}</name>
            </jndiConfig>
            <definition type="RDBMS">
                <configuration>
                    <url>jdbc:postgresql://{{ groups['dbs'][0] }}:5432/{{ dskey }}</url>
                    <username>{{ dsvalue.user }}</username>
                    <password>{{ dsvalue.pass }}</password>
                    <driverClassName>org.postgresql.Driver</driverClassName>
                    <maxActive>80</maxActive>
                    <maxWait>60000</maxWait>
                    <minIdle>5</minIdle>
                    <testOnBorrow>true</testOnBorrow>
                    <defaultAutoCommit>false</defaultAutoCommit>
                    <!-- validationQuery>SELECT 1</validationQuery -->
                    <validationInterval>30000</validationInterval>
                </configuration>
            </definition>
        </datasource>

{% endfor %}
		<!-- TODO: usage of this part is not clear yet-->
#         <datasource>
#            <name>WSO2AM_STATS_DB</name>
#            <description>The datasource used for getting statistics to API Manager</description>
#            <jndiConfig>
#                <name>jdbc/WSO2AM_STATS_DB</name>
#            </jndiConfig>
#            <definition type="RDBMS">
#                <configuration>
#                    <url>jdbc:postgresql://dbhost:5432/statdb</url>
#                    <username></username>
#                    <password></password>
#                    <driverClassName>org.postgresql.Driver</driverClassName>
#                    <maxActive>80</maxActive>
#                    <maxWait>60000</maxWait>
#                    <minIdle>5</minIdle>
#                    <testOnBorrow>true</testOnBorrow>
#                    <defaultAutoCommit>false</defaultAutoCommit>
#                    <!-- validationQuery>SELECT 1</validationQuery -->
#                    <validationInterval>30000</validationInterval>
#                </configuration>
#            </definition>
#         </datasource>
		<!-- TODO: usage of this part is not clear yet-->
        <datasource>
            <name>JAGH2</name>
            <description>The datasource used for by the Jaggery Storage Manager</description>
            <jndiConfig>
                <name>jdbc/test</name>
            </jndiConfig>
            <definition type="RDBMS">
                <configuration>
                    <url>jdbc:h2:repository/database/ES_STORAGE;DB_CLOSE_ON_EXIT=FALSE;LOCK_TIMEOUT=60000</url>
                    <username>sa</username>
                    <password></password>
                    <driverClassName>org.h2.Driver</driverClassName>
                    <maxActive>50</maxActive>
                    <maxWait>60000</maxWait>
                </configuration>
            </definition>
        </datasource>

    </datasources>

</datasources-configuration>
